<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th>follows</th>
      <th>followers</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
        <td><%= user.name %></td>
        <td><%= user.follower.count %></td>
        <td><%= user.followed.count %></td>
        <% if user.followed.pluck(:follower_id).include?(current_user.id) %>
          <td><%= link_to 'フォローを外す', user_relationships_path(user), method: :delete %></td>
        <% elsif user != current_user %>
          <td><%= link_to 'フォローをする', user_relationships_path(user), method: :post %></td>
        <% else %>
          <td><!--ただの空白--></td>
        <% end %>

        <td><%= link_to 'Show', user_path(user), class: "user_#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>